<div class="container-fluid">
  <!-- First row -->
  <div class="row bottom-buffer">
    <div class="col-md-4">
      <h2 class="h2_formular">Details zum Auto</h2>
      <%= render 'shared/car_details_details' %>
    </div> 
    <div class="col-md-4">
      <h2 class="h2_formular">Details zum Kauf</h2>
      <%= render 'shared/car_details_details_2' %>
    </div> 
    <div class="col-md-4">
      <h2 class="h2_formular">Details zur Versicherung</h2>
      <%= render 'shared/car_details_details_3' %>
    </div> 
  </div>
  <div class="row bottom-buffer">
    <div class="col-md-4">
      <h2 class="h2_formular">Tankbuch (letzte 5 Eintr채ge)</h2>
      <%= render 'shared/car_details_logbook' %>
    </div> 
    <div class="col-md-4">
      <h2 class="h2_formular">Verleihvorg채nge (letzte 5 Eintr채ge)</h2>
      <%= render 'shared/car_details_rentalbook' %>
    </div>
    <div class="col-md-4">
      <h2 class="h2_formular">Reparaturen (letzte 5 Eintr채ge)</h2>
      <%= render 'shared/car_details_repairbook' %>
    </div> 
  </div>
  <div class="row bottom-buffer">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="h2_formular">Bild</h2>
      <%= image_tag(@car.picture.url, :width => "100%", :title => @car.car_name, class: "img-rounded")%>
    </div>
  </div>
        
</div> <!-- /container -->