<table class="table table-striped">
   <tr id="car-header">
    <th class="col-md-4">Datum</th>
    <th class="col-md-4">Liter à €/l</th>
    <th class="col-md-4">Ort</th>
  </tr> 
<% @car.refuellings[0..4].each do |refuelling| %>
  <tr id="car-<%= refuelling.id %>">
    <td class="col-md-4"><%= refuelling.refuel_date.strftime('%d.%m.%Y')  %></td>
    <td class="col-md-4"><%= refuelling.liters %> à <%= (sprintf('%.2f', refuelling.cents_per_liter/100.0)).sub('.', ',')%> </td>
    <td class="col-md-4"><%= refuelling.location %></td>
  </tr>      
<% end %>
</table>
<p>
  <%= link_to "Zeige alle Einträge &raquo;".html_safe, 
    car_refuellings_path(@car.id), :title => "Zeige alle Einträge", 
    :class => "btn btn-default" 
  %>
  <%= link_to 'Neuer Tankbucheintrag', new_car_refuelling_path((@car.id)), :class => "btn btn-success" %> 
</p>