<table class="table table-striped">
  <tr>
    <td>Versicherungs- Nr</td>
    <td><%= @car.insurance_nr %></td>
  </tr>
  <tr>
    <td>SF-Klasse (Haftpflicht)</td>
    <td><%= @car.sf_class %></td>
  </tr>
  <tr>
    <td>Haftplicht</td>
    <td><%= number_to_currency(@car.liability) %></td>
  </tr>
  <tr>
    <td>Teilkasko</td>
    <td><%= number_to_currency(@car.comprehensive_part) %></td>
  </tr>
  <tr>
    <td>Vollkasko</td>
    <td><%= number_to_currency(@car.comprehensive_full) %></td>
  </tr>
  <tr>
    <td>Summe</td>
    <td><%= number_to_currency(((@car.liability + @car.comprehensive_part) + ((@car.liability + @car.comprehensive_part)*19)/100.0))%>
    </td>
  </tr>
  <tr>
    <td>Steuer</td>
    <td><%= number_to_currency(@car.tax) %></td>
  </tr>
</table>