<table class="table table-striped">
   <tr id="car-header">
    <th class="col-md-4">Datum</th>
    <th class="col-md-4">Title</th>
    <th class="col-md-4">Betrag</th>
  </tr> 
<% @car.repairs[0..4].each do |repair| %>
  <tr id="car-<%= repair.id %>">
    <td class="col-md-4"><%= repair.repair_date.strftime('%d.%m.%Y')  %></td>
    <td class="col-md-4"><%= repair.title %> </td>
    <td class="col-md-4"><%= number_to_currency(repair.billings_amount) %></td>
  </tr>      
<% end %>
</table>
<p>
  <%= link_to "Zeige alle Reparaturen &raquo;".html_safe, 
    car_repairs_path(@car.id), :title => "Zeige alle Reparaturen", 
    :class => "btn btn-default" 
  %>
  <%= link_to 'Neue Reparatur', new_car_repair_path((@car.id)), :class => "btn btn-success" %> 
</p>