<table class="table table-striped">
  <tr>
    <td>Verkäufer</td>
    <td><%= @car.seller %></td>
  </tr>
  <tr>
    <td>Kaufdatum</td>
    <td><%= @car.purchase_date.strftime('%d.%m.%Y') %></td>
  </tr>
  <tr>
    <td>Kaufpreis</td>
    <td><%= number_to_currency(@car.purchase_price) %></td>
  </tr>
  <tr>
    <td>Km-Stand bei Kauf</td>
    <td><%= number_with_delimiter(@car.milage_purchase_date.round(0), :delimiter => '.') %></td>
  </tr>
  <tr>
    <td>Erstzulassung</td>
    <td><%= @car.registrationdate.strftime('%d.%m.%Y') %></td>
  </tr>
</table>
