<div class="container-fluid">
  <!-- First row -->
  <div class="row bottom-buffer">
    <div class="col-md-4">
      <h2 class="pull-left">Details zum Auto</h2>
      <%= render 'shared/car_details_details' %>
    </div> 
    <div class="col-md-4">
      <h2 class="pull-left">Details zum Kauf</h2>
      <%= render 'shared/car_details_details_2' %>
    </div> 
    <div class="col-md-4">
      <h2 class="pull-left">Details zur Versicherung</h2>
      <%= render 'shared/car_details_details_3' %>
    </div> 
  </div>
  <div class="row bottom-buffer">
    <div class="col-md-5">
      <h2 class="pull-left">Tankbuch (letzte 5 Einträge)</h2>
      <%= render 'shared/car_details_logbook' %>
    </div> 
    <div class="col-md-2">
    </div> 
    <div class="col-md-5">
      <h2 class="pull-left">Reparaturen (letzte 5 Einträge)</h2>
      <%= render 'shared/car_details_repairbook' %>
    </div> 
  </div>
  <div class="row bottom-buffer">
    <div class="col-md-6 col-md-offset-3">
      <h2>Bilder</h2>
      <img src="/images/caddy.jpg" style="width:100%" alt="blabla" class="img-rounded">
    </div>
  </div>
        
</div> <!-- /container -->