<table class="table table-striped">
  <tr>
    <td>Bezeichnung</td>
    <td><%= @car.car_brand %> <%= @car.car_model %></td>
  </tr>
  <tr>
    <td>Autokennzeichen</td>
    <td><%= @car.numberplate %></td>
  </tr>
  <tr>
    <td>Leistung</td>
    <td><%= @car.engine_power %> PS</td>
  </tr>
  <tr>
    <td>Treibstoffart</td>
    <td><%= @car.fuel_type %></td>
  </tr>
  <tr>
    <td>Hubraum</td>
    <td><%= number_with_delimiter(@car.cubic_capacity.round(0), :delimiter => '.') %></td>
  </tr>
  <tr>
    <td>Schadstoffklasse</td>
    <td><%= @car.emission_class %></td>
  </tr>
</table>