<div class="center jumbotron">
  <div id ="login_panel-outer">
    <%= image_tag("citroen.jpg", width: '100%', alt: "Edit Entry", id: 'login_image') %>
    <p>Logge dich ein</p>
    <div id ="login_panel-inner">
      <%= simple_form_for(:session, :url =>login_path) do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
        <p id="paragraph_new_user">
          <%= link_to "Passwort Vergessen?", new_password_reset_path %>
        </p>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Angemeldet bleiben</span>
        <% end %>
        <%= f.submit "Einloggen", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div id= login_new_account>  
      <p id="paragraph_new_user"><b>Neuer Benutzer?</b> <%= link_to "Erstelle Konto", signup_path %></p>
    </div>
  </div>
</div>