<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><b><%= car.car_name %></b></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-4 " text-left>
      <%= image_tag car.picture.url, width: '250', alt: "image of car" %>
    </div>
    <div class="col-md-4">
      <table class="table table-borderless">
      <tr>
        <th>Modell:</th>
        <td><%= car.car_brand %> <%= car.car_model %></td>
      </tr>
      <tr>
        <th>Autokennzeichen:</th>
        <td><%= car.numberplate  %></td>
      </tr> 
      <tr>
        <td><%= link_to 'Tankbuch', car_refuellings_path(car.id), :class => "btn btn-info" %></td>
        <td><%= link_to 'Reparaturbuch', car_repairs_path(car.id), :class => "btn btn-info" %></td>
        <td><%= link_to 'Verleihvorgänge', car_rentals_path(car.id), :class => "btn btn-info" %></td>
      </tr>
      </table>
    </div>
  </div>
  <div class="panel-footer">    
    <%= link_to 'Details', car, :class => "btn btn-info" %> 
    <%= link_to 'Editieren', edit_car_path(car.id), :class => "btn btn-success" %> 
    <%= link_to 'Löschen', car, :class => "btn btn-danger", :method => :delete, 
      data: { confirm: "Auto wirklich löschen?" } %> 
  </div>
</div>