<%= simple_form_for(@car) do |f| %>
  <div>
    <h2 class="h2_formular">Angaben zum Auto</h2>
  </div>
  <%= f.input :car_name %>
  <%= f.input :car_brand %>
  <%= f.input :car_model %>
  <%= f.input :numberplate %>
  <%= f.input :fuel_type, 
    :collection => [['Diesel','Diesel'],['Benzin','Benzin'],
                    ['Elektro','Elektro'],['Hybrid (Benzin/Elektro)','Hybrid (Benzin/Elektro)'],
                    ['Hybrid (Diesel/Elektro)','Hybrid (Diesel/Elektro)'],['Autogas','Autogas'],
                    ['Erdgas','Erdgas'],['Wasserstoff','Wasserstoff']],
    :selected => 'Diesel'
  %>
  <%= f.input :cubic_capacity, :as => :integer %>
  <%= f.input :engine_power %>
  <%= f.input :emission_class, 
    :collection => [["Unbekannt","Unbekannt"],["EUR 1","EUR 1"],["EUR 2","EUR 2"],
                    ["EUR 3","EUR 3"],["EUR 4","EUR 4"],["EUR 5","EUR 5"],
                    ["EUR 6","EUR 6"]],
    :selected => "EUR 4",
    :label_method => :first, 
    :value_method => :last
  %>

  <div>
    <h2 class="h2_formular">Angaben zum Kauf</h2>
  </div>
  <%= f.input :seller %>
  <%= f.input :purchase_date,
              as: :date, 
              start_year: Date.today.year,    
              end_year: Date.today.year - 30,
              order: [:day, :month, :year] %>
  <%= f.input :purchase_price, :value => (number_with_precision(f.object.purchase_price, :precision => 2) || 0) %>
  <%= f.input :registrationdate,
            as: :date, 
            start_year: Date.today.year,    
            end_year: Date.today.year - 30,
            order: [:day, :month, :year] %>
  <%= f.input :milage_purchase_date %>
  <div>
    <h2 class="h2_formular">Angaben zur Versicherung</h2>
  </div>
  <%= f.input :insurance_nr %>
  <%= f.input :sf_class %>
  <%= f.input :sf_perc %>
  <%= f.input :liability, :value => (number_with_precision(f.object.liability, :precision => 2) || 0) %>
  <%= f.input :comprehensive_part, :value => (number_with_precision(f.object.comprehensive_part, :precision => 2) || 0.00) %>
  <%= f.input :comprehensive_full, :value => (number_with_precision(f.object.comprehensive_full, :precision => 2) || 0.00) %>
  <%= f.input :tax, :value => (number_with_precision(f.object.tax, :precision => 2) || 0.00)  %>
  <%= f.input :picture, 
        :as   => :file,
        :accept => 'image/jpeg,image/gif,image/png'
      %>
  <%= f.button :submit, yield(:button_text), class: "btn btn-success" %>
<% end %>


<script type="text/javascript">
  $('#car_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3) {
      alert('Maximum file size is 3MB. Please choose a smaller file.');
    }
  });
</script>
