<%= simple_form_for(@car) do |f| %>
  <div>
    <h2>Angaben zum Auto</h2>
  </div>
  <%= f.input :car_name %>
  <%= f.input :car_brand %>
  <%= f.input :car_model %>
  <%= f.input :numberplate %>
  <%= f.input :fuel_type, 
    :collection => [['Diesel','Diesel'],['Benzin','Benzin'],
                    ['Elektro','Elektro'],['Hybrid (Benzin/Elektro)','Hybrid (Benzin/Elektro)'],
                    ['Hybrid (Diesel/Elektro)','Hybrid (Diesel/Elektro)'],['Autogas','Autogas'],
                    ['Erdgas','Erdgas'],['Wasserstoff','Wasserstoff']],
    :selected => 'Diesel'
  %>
  <%= f.input :cubic_capacity, :as => :integer %>
  <%= f.input :engine_power %>
  <%= f.input :emission_class, 
    :collection => [["Unbekannt","Unbekannt"],["EUR 1","EUR 1"],["EUR 2","EUR 2"],
                    ["EUR 3","EUR 3"],["EUR 4","EUR 4"],["EUR 5","EUR 5"],
                    ["EUR 6","EUR 6"]],
    :selected => "EUR 4",
    :label_method => :first, 
    :value_method => :last
  %>

  <div>
  <h2>Angaben zum Kauf</h2>
  </div>
  <%= f.input :seller %>
  <%= f.input :purchase_date %>
  <%= f.input :purchase_price, as: :currency %>
  <%= f.input :registrationdate %>
  <%= f.input :milage_purchase_date %>
  <div>
    <h2>Angaben zur Versicherung</h2>
  </div>
  <%= f.input :insurance_nr %>
  <%= f.input :sf_class %>
  <%= f.input :sf_perc %>
  <%= f.input :liability, as: :currency %>
  <%= f.input :comprehensive_part, as: :currency %>
  <%= f.input :comprehensive_full, as: :currency %>
  <%= f.input :tax, as: :currency %>
  <%= f.input :picture, 
        :as   => :file,
        :accept => 'image/jpeg,image/gif,image/png'
      %>
  <%= f.button :submit, yield(:button_text), class: "btn btn-success" %>
<% end %>


<script type="text/javascript">
  $('#car_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3) {
      alert('Maximum file size is 3MB. Please choose a smaller file.');
    }
  });
</script>
