<% provide(:title, 'Tankeinträge') %>

<div class="row">
  <div class="col-md-2">
    <%= link_to image_tag(@car.picture.url, :width => "120", :title => 'Zurück zum Auto', class: "image_rounded_sidebar"), 
      car_path(@car.id), class: 'image_centered_sidebar'%>
    <div class="btn-toolbar">
      <%= link_to 'Verbrauchsrechner', '#', :class => "btn btn-warning", :id => "consump_link" %>
    </div>
      <div id = "consump_section">
        <p>Errechne Verbrauch zwischen</p>
        <%= collection_select('date1', @car.id, @refuellings_date1, :id, :refuel_date_format, {prompt: "Wähle 1. Datum"}, {class: "form-control",id: "date1" , data: {carid: @car.id} }) %>
        <%= collection_select('date2', 0, @refuellings_date2, :id, :refuel_date,{prompt: "Wähle 2. Datum"}, {class: "form-control",id: "date2"}) %>
        <div id="consump_result">
          <p id='consump_result_fig'><b></b></p>
        </div>
    </div>
  </div>
  <div class="col-md-10">
      <h1 class="h1_formular">Tankbuch <%= @car_name %> </h1>
      <table class="table table-striped">
      <tr id="refuelling-header">
        <th class="col-md-1">Datum</th>
        <th class="col-md-1">Km-Stand</th>
        <th class="col-md-1">€/l</th>
        <th class="col-md-2">Tankstelle</th>
        <th class="col-md-2">Ort</th>
        <th class="col-md-1">Liter</th>
        <th class="col-md-2">Betrag (€)</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr> 
        <%= render @refuellings %>
      </table>
      <div class="btn-toolbar">
        <%= link_to 'Neuer Tankbucheintrag', new_car_refuelling_path(@car_id), :class => "btn btn-success" %> 
      </div>
      <%= will_paginate @refuellings, :previous_label => 'Vorige', :next_label => 'Weiter' %>
  </div>
</div>